name: Frontend App Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: frontend

    steps:
      - uses: actions/checkout@v4

      - name: Build & deploy frontend
        run: |
          cd /home/popcornpalace/deployment/stacks/web-project
          docker compose up -d --build --force-recreate --no-deps frontend-app
